# exclude plugins
.obsidian/plugins/**/*
.obsidian/workspace.json

# include plugin configuration
!.obsidian/plugins/**/
!.obsidian/plugins/**/data.json

# exclude OS settings and caches
.trash/
.DS_Store